body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: #F7FAFC;
}

.nav {
  width: 100%;
  margin: auto;
  padding: 0 24px;
  height: 50px;
  max-height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top:12px;
  padding-bottom:12px;
  padding-right:40px;
  padding-left:40px;
}

.menu {
  list-style: none;
  display: flex;
  gap: 24px;
  padding: 0;
  margin: 0;
}
.menu-right {
  display: flex;
  align-items: center;
  gap: 16px;
}
.btn-signup {
    color:white;
    background-color: #125CED;
    border-radius: 8px;
    min-width:84px;
    max-width:480px;
    padding-left: 16px;
    padding-right: 16px;
    border:0px;
}

#main {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:160px;
    padding-right:160px;
    flex-direction: column;
}
.poster {
    position: relative;
    width: 928px;
    height: 480px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.poster-main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
    z-index: 0;
}

.poster h2 {
    z-index: 1;
    color: white;
    font-size: 48px;
    margin: 0;
    padding: 0 20px;
    font-weight:bold;
}
.poster p {
    z-index: 1;
    color: white;
    max-width: 600px;
    padding: 20px;
    text-align: center;
}

.poster button {
    z-index: 1;
    background-color: #125CED;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px 24px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 8px;
    border: 0px;
    min-width:84px;
    max-width:480px;
    height: 48px;
}
.opening {
    width: 100%;
    max-width: 928px;
}
.opening h2{
    text-align: start;
    font-weight:900;
    font-size: 36px;
}
.opening p{
    text-align: start;
}
.opening-container {
    display: flex;
    gap: 12px;
    margin-top: 16px;
    flex-direction:row;
}
.opening-container div {
    display: flex;
    flex-direction: column;
    gap: 6px;
    border: 1px solid #E2E8F0;
    padding:16px;
    border-radius: 8px;
}
.opening-container img {
    width:auto;
    height:auto;
    max-width: 24px;
    max-height: 24px;
}



